<%= form_for @pin do |f| %>

<p>
    <%= f.label :title %>
    <%= f.text_field :title %>
</p>
<p>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
</p>
<p>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
</p>
<p>
    <%= f.submit "Scribble" %>
</p>
<% end %>
